@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Recoleta";
  src:
    local("Recoleta"),
    url("/fonts/recoleta/recoleta-light.otf") format("opentype"),
    url("/fonts/recoleta/Recoleta-Regular.woff2") format("woff2"),
    url("/fonts/recoleta/Recoleta-Regular.woff") format("woff"),
    url("/fonts/recoleta/Recoleta.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src:
    local("Recoleta Medium"),
    local("Recoleta"),
    url("/fonts/recoleta/recoleta-medium.otf") format("opentype"),
    url("/fonts/recoleta/Recoleta-Medium.woff2") format("woff2"),
    url("/fonts/recoleta/Recoleta-Medium.woff") format("woff"),
    url("/fonts/recoleta/Recoleta.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src:
    local("Recoleta Bold"),
    local("Recoleta"),
    url("/fonts/recoleta/recoleta-bold.otf") format("opentype"),
    url("/fonts/recoleta/Recoleta-Bold.woff2") format("woff2"),
    url("/fonts/recoleta/Recoleta-Bold.woff") format("woff"),
    url("/fonts/recoleta/Recoleta.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #4f0944;
  --color-accent: #b80018;
  --color-bg: #f9f4e8;
  --color-surface: #ffffff;
}

body {
  font-family:
    "Recoleta",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  color: var(--color-primary);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
